@page "/"

<div class="shape shape-1"></div>
<div class="shape shape-2"></div>
<div class="shape shape-3"></div>
<div class="shape shape-4"></div>
<div class="shape shape-5"></div>
<div class="shape shape-6"></div>

<div class="topContent">
    <div class="homeMainContent">
        <FluentGrid Spacing="3" AdaptiveRendering="true" Justify="JustifyContent.FlexStart">
            <FluentGridItem xs="12" sm="6">
                <FluentCard Style="background-color: transparent" Width="500px">
                    <h1>
                        Scrum Poker for agile teams
                    </h1>

                    <p>Easy-to-use and fun story point estimations.</p>

                    <FluentButton Appearance="Appearance.Accent">
                        Start new game
                    </FluentButton>
                </FluentCard>
            </FluentGridItem>
            <FluentGridItem xs="12" sm="6">
                <FluentCard Width="500px">
                    Scrum Poker for agile teams
                </FluentCard>
            </FluentGridItem>
        </FluentGrid>
    </div>
</div>

<div class="header-shape-1"></div> <!-- header shape -->
<div class="header-shape-2">
    <img src="images/header-shape-2.svg" alt="shape">
</div> <!-- header shape -->